.blogs-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.blog-image {
  display: flex;
}
.blog-image img {
  width: 100%;
}
.blog-item {
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}
.blog-info {
  text-align: center;
  margin: 20px;
  padding: 20px 5px 15px 5px;
}
.blog-info-top {
  color: #bcbcbc;
  font-size: 14px;
}
.blog-info-center {
  font-size: 18px;
  font-weight: 500;

  margin: 5px 0;
}
.blogs a {
  color: black;
}
.blog-info-bottom a {
  position: relative;
  display: inline-block;
  transition: 0.2s ease;
  padding-bottom: 3px;
  border-bottom: 1px solid;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.blog-info-bottom a:hover {
  color: blue;
}
@media (max-width: 768px) {
  .blogs-list {
    grid-template-columns: 1fr;
  }
}
