.brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 5px;
  border: 1px solid #dee0ea;
}

.brand-image img {
  object-fit: cover;
  display: flex;
}
.brands-item {
  opacity: 0.5;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.brands-item:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .brands-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
  }
}
