.campaigns .campaign-item {
  color: white;
  flex: 1;
  padding: 60px 35px;
  background-size: cover;
  background-position: center;
}
.campaigns .campaign-item .campaign-title {
  font-size: 30px;
  font-weight: 600;
}
.campaign-desc {
  margin: 40px 0;
  font-size: 16px;
  font-weight: 500;
}
.campaigns .campaign-wrapper:nth-child(1) .campaign-item:nth-child(1) {
  background-image: url(/img/campaigns/banner1.png);
}
.campaigns .campaign-wrapper:nth-child(1) .campaign-item:nth-child(2) {
  background-image: url(/img/campaigns/banner2.png);
}
.campaigns .campaign-wrapper:nth-child(2) .campaign-item:nth-child(1) {
  background-image: url(/img/campaigns/banner3.png);
  flex: 5;
}
.campaigns .campaign-wrapper:nth-child(2) .campaign-item:nth-child(2) {
  background-image: url(/img/campaigns/banner4.png);
  flex: 3;
}
@media (max-width: 768px) {
  .campaigns .campaign-item {
    width: 100%;
    flex: unset !important;
  }
}
