.product-wrapper {
  position: relative;
}
.product-wrapper .glide__arrow {
  position: absolute;
  top: 50%;
  background-color: transparent;
  font-size: 25px;
}

.product-wrapper .glide__arrow--left {
  left: -25px;
}
.product-wrapper .glide__arrow--right {
  right: -25px;
}
@media (max-width: 576px) {
  .product-wrapper .glide__arrow--left {
    left: 0px;
  }
  .product-wrapper .glide__arrow--right {
    right: 0px;
  }
}
