.modal-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  transition: all 0.2s ease in;
  -webkit-transition: all 0.2s ease in;
  -moz-transition: all 0.2s ease in;
  -ms-transition: all 0.2s ease in;
  -o-transition: all 0.2s ease in;
}

.modal-search::after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.modal-wrapper {
  max-width: 45rem;
  width: 100%;
  background-color: white;
  z-index: 998;
  position: fixed;
  padding: 30px;
}
.modal-wrapper .modal-title {
  font-size: 30px;
  font-weight: 600;
}
.modal-wrapper .modal-subtitle {
  font-size: 14px;
  color: #7a7a7a;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee0ea;
}
.modal-search .search-form {
  display: flex;
  margin-top: 15px;
  position: relative;
}
.modal-search .search-form::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -15px;
  background-color: #dee0ea;
}
.modal-search .search-form button {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 15px;
  border: 1px solid #dee0ea;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #dee0ea;
}
.modal-search .search-form button i {
  color: #7a7a7a;
  font-size: 18px;
  pointer-events: none;
}
.modal-search .search-form input {
  width: 100%;
  max-height: 42px;
}

.modal-wrapper .results img {
  max-width: 65px;
  width: 100%;
}
.modal-wrapper .results .result-item {
  display: flex;
  column-gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #dee0ea;
  border-right: 1px solid #dee0ea;
}
.modal-wrapper .result-item:hover {
  background-color: #f9f9f9;
}
.modal-wrapper .results .result-item .search-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: black;
}
.modal-search .search-sku {
  color: #7a7a7a;
  margin: 2px 0;
}
.modal-search .search-price {
  font-weight: 600;
  color: #dc3545;
}
.search-results {
  margin-top: 30px;
}
.modal-search .search-results .search-heading {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #dee0ea;
  font-weight: 600;
  font-size: 16px;
}
.modal-search .results {
  border-left: 1px solid #dee0ea;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.modal-wrapper .close {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* Search Responsive*/
@media (max-width: 992px) {
  .modal-search .modal-wrapper {
    max-width: 23.125rem;
  }
  .modal-search .results {
    grid-template-columns: 1fr;
  }
}
