.modal-dialog {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.66);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000000;
}
.modal-dialog .modal-content {
  background-color: white;
  position: relative;
}
.modal-dialog-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-close {
  position: absolute;
  top: -30px;
  right: -30px;
  background-color: transparent;
}
.modal-close i {
  font-size: 30px;
}
.modal-image {
  width: 40%;
  height: 100%;
}
.modal-image img {
  width: 100%;
  height: 100%;
}
.popup-wrapper {
  width: 60%;
}
.popup-title {
  text-align: center;
}
.modal-dialog .modal-content .popup-title h3 {
  font-size: 30px;
  font-weight: 500;
}
.modal-dialog .modal-content .popup-text {
  font-size: 14px;
  color: #7a7a7a;
  font-weight: 500;
  margin-top: 10px;
  max-width: 20.75rem;
  text-align: center;
}

.popup-form {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 15px;
}
.popup-form label {
  text-align: center;
}
.popup-content {
  padding: 0 20px;
}
