.policy-list li {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
}
.policy-texts {
  display: flex;
  flex-direction: column;
}
.policy-item i {
  font-size: 40px;
  display: flex;
}
.policy-texts strong {
  font-weight: 600;
}
.policy-texts span {
  font-size: 12px;
}
/* @media (max-width: 808px) {
  .policy-list li {
    justify-content: center !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */
